* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-coloring: #d1d5db;
  --theme-color: #1e293b;
  --search-bar-color: #c7d2fe;
  --card-color: #fafaf9;
  --gray-text-color: #64748b;
}

@font-face {
  font-family: star-wars;
  src: url(./fonts/Star\ Wars.ttf);
}

@font-face {
  font-family: roboto;
  src: url(./fonts/Roboto-Regular.ttf);
}

body {
  font-family: roboto;
}

.layout-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.6fr;
  grid-template-rows: 0.6fr 4fr;
}

.header {
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: 2fr 0.7fr;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  padding: 0 40px;
  box-shadow: 1px 7px 10px var(--search-bar-color); 
  z-index: 1;
}

.sidebar {
  font-family: star-wars;
  background-color: var(--theme-color);
  color: white;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 0.15fr 0.48fr 1fr;
}

.content-area {
  grid-column: 2 / 4;
  background-color: var(--background-coloring);
  padding: 18px 20px;
  padding-left: 40px;
}

.misc {
  padding: 18px 20px;
  padding-right: 40px;
  background-color: var(--background-coloring);
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.top-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

.bottom-part {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 60px;
  position: relative;

}

.dashboard {
  margin: 0 20px;
  font-size: clamp(1.2rem, 2.6vw, 1.7rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.helmet {
  height: 40px;
  margin-right: 15px;
}

.icon {
  height: 25px;
  filter: invert(100%);
  position: relative;
  top: 5px;
  margin-right: 8px;
  cursor: pointer;
}

.black-icon {
  height: 25px;
  cursor: pointer;
}

.black-icon:active {
  transform: scale(0.9);
}

.top-part > div:active,
.bottom-part > div:active,
.yoda-small:active {
  transform: scale(0.98);
}

.top-part > div,
.bottom-part > div {
  margin-left: 5%;
  font-size: clamp(0.8rem, 1.8vw, 1rem);
  cursor: pointer;
}

.top-part > div:hover,
.bottom-part > div:hover {
  color: var(--search-bar-color);
}

.yoda-small {
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.yoda-large {
  height: 80px;
  grid-row: 1 / 3;
  border-radius: 50%;
  border: solid 3px var(--search-bar-color)
}

.small-profile {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  font-weight: 600;
}

.header-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header-buttons > button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  color: white;
  background-color: var(--theme-color);
  font-weight: 900;
  cursor: pointer;
}

form {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 10px;
}

input[name="search"] {
  flex: 1;
  font-family: inherit;
  font-size: 100%;
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  background-color: var(--search-bar-color);
  border-radius: 8px;
  height: 20px;
  font-family: inherit;
}

input[name="search"]:active,
input[name="search"]:focus {
  box-shadow: 2px 2px 2px var(--theme-color);
}

.search-icon {
  height: 32px;
  cursor: pointer;
}

.large-profile {
  display: grid;
  grid-template-columns: 1fr 15fr;
  align-items: center;
  column-gap: 10px;
}


.yoda-large + p {
  font-size: 1.1rem;
  margin-bottom: -20px;
}

p:nth-child(3) {
  font-size: 1.3rem;
  font-weight: 600;
}

.card {
  font-size: 0.9rem;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 2px 2px 10px var(--theme-color);
  background-color: var(--card-color);
  display: grid;
  grid-template-rows: 0.7fr 3fr 0.5fr;
  min-width: 250px;
  border-left: 15px solid var(--search-bar-color);
}

.card:hover {
  transform: scale(1.01);
  transition: .3s;
}

h1 {
  font-size: 1.5rem;
}

.card-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: 1fr;
  height: 95%;
  margin-top: 5px;
}

.card .icons {
  justify-self: end;
}

.quotes {
  margin-top: 5px;
  background-color: var(--card-color);
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-items: center;
  margin-bottom: 10px;  
}

.quotes-container, 
.trending-container {
  display: flex;
  flex-direction: column;
}

.quote {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.quote > div {
  font-size: 0.9rem;
  color: var(--gray-text-color)
}

.h5 {
  font-size: 1.3rem;
}

.quote-1 {
  border-bottom: solid 0.5px var(--search-bar-color);
}

.quote-2 {
  border-bottom: solid 0.5px var(--search-bar-color);
}

.small-img-trending {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.character {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 15fr;
  column-gap: 6px;
}

.trending {
  background-color: var(--card-color);
  border-radius: 10px;
  padding: 30px;
  margin-top: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.trending-container {
  margin-top: 8px;
}

.character-details > p {
  font-size: 0.9rem;
}

.character-details > div {
  font-size: 1rem;
  color: var(--gray-text-color);
}